<!DOCTYPE html>
<html lang="en" xmlns:th="http//thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>

<form th:action="@{/users}" th:method="POST" th:object="${newUser}">
    <div align="center">

        <label for="name">Enter name:</label>
        <input id="name" th:field="*{name}" type="text">
        <br/>
        <label for="secondname">Enter second name:</label>
        <input id="secondname" th:field="*{secondName}" type="text">
        <br/>
        <input type="submit" value="Create!"/>
    </div>

</form>

</body>
</html>